body {
    background: url("background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron, .row {
    margin-top: 25px;
    background-color: cornsilk;
    color: black;
    border-radius: 10px;
}

.row:hover {
    opacity: .5;
}

#tagline {
    font-family: 'Satisfy', cursive, sans-serif;
    font-size: 51px;
}

h1 {
    font-family: Walter Turncoat;
    font-size: 64px;
}

#butt {
    position: relative;
    top: 30px;
    background: burlywood;
}

.title {
    font-family: Walter Turncoat;
}

p {
    font-weight:  bold;
    font-family: Walter Turncoat;
}

#submit {
    background: burlywood;
}